.castReview {
  display: flex;
  gap: 24px;
}
.active {
  color: red;
}

.wrapper {
  display: flex;
  gap: 28px;

  justify-content: space-between;
}
.containerDeteilsPage {
  margin: 0 auto;
  padding: 16px;
}
.box {
  margin-top: 16px;
}
.boxInfo {
  margin: 0 auto;
  padding: 16px;
}
