.box {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form {
  margin: 0 auto;
  display: flex;
  gap: 20px;
  padding: 16px;
}
.btn {
  display: inline-flex;
  background-color: rgb(64, 8, 216);
  width: 160px;
}
